[Unit]
Description=Minecraft
Requires=local-fs.target network-online.target
After=local-fs.target network-online.target


[Service]
Type=simple
ExecStart=/usr/bin/screen -D -m -S "minecraft" -t "minecraft" /home/minecraft/minecraft_service.sh

ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "save-all"\\015'
ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "stop"\\015'

[Install]
WantedBy=multi-user.target
